* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  width: 350px;
  margin: 0 auto;
}

.form_div {
  color: black;
  background-color: skyblue;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
}

h1 {
  text-transform: uppercase;
  color: #ffffff;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  color: #0d043e;
}

input {
  font-size: 18px;
  padding: 10px 10px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  background-color: #4f9ab36c;
}

.button_div {
  margin-top: 10px;
  text-align: center;
}

.button_div input {
  text-align: center;
  color: #000;
  padding: 10px 20px;
  background-color: #4f9ab36c;
  outline: none;
  border: none;
  cursor: pointer;
}

form > div {
  margin-bottom: 10px;
}

select {
  padding: 10px;
  background-color: #4f9ab36c;
  font-size: 20px;
}
